# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv
*.egg-info/
dist/
build/
.ruff_cache/

# Node
node_modules/
dist/
.DS_Store
*.log
.eslintcache

# Environment
.env
.env.local
.env.prd
*.env.prd

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

